# Wo Fotos/Videos gespeichert werden
UPLOAD_LOCATION=./library
DB_DATA_LOCATION=./postgres

# Datenbank
DB_PASSWORD=<DEIN-DB-PASSWORT>
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

# Immich Version
IMMICH_VERSION=release
